<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div style="text-align: center;">
<p>Search for a Pokemon!</p>
<input type ="text" id="pokemonsearch">
<button (click)="getPokeResponse()"> Click to search! </button>

<p id="pokemondisplay" style="font-family: fantasy; font-size: 2.5rem;"> {{this.pokemon.name}} </p>

<img src="{{this.pokemon.sprites.front_default}}" style="width: 15rem;  height: 15rem;">
</div>


